.contact_info {
    margin: 0;
    clear: both;
    padding-top: 57px;
    padding-bottom: 57px;
    display: block;
    overflow: hidden;
}

    .contact_info p {
        margin: 0;
        padding-left: 73px;
        padding-top: 8px;
        width: 178px;
        color: rgb(121, 120, 128);
    }

    .contact_info > article {
        float: left;
        width: 253px;
        height: 52px;
        padding-right: 36px;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

        .contact_info > article:hover {
            -moz-transform: translateY(10px);
            -ms-transform: translateY(10px);
            -o-transform: translateY(10px);
            -webkit-transform: translateY(10px);
            transform: translateY(10px);
        }

        .contact_info > article:nth-child(2) > p {
            line-height: 2;
        }

        .contact_info > article:nth-child(3) {
            padding-right: 0;
        }

        .contact_info > article:nth-child(1) {
            padding-right: 0;
        }

    .contact_info figure {
        float: left;
        margin: 0;
    }
