.content_header {
    padding-top: 27px;
    background: rgb(57, 55, 59);
    text-align: center;
    margin: 0;
    font-family: "Open Sans Light",'Open Sans', sans-serif;
    font-weight: 400;
    color: #ffffff;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 30px;
}

    .content_header > h3 {
        margin: inherit;
        word-spacing: 13.57px;
        font-family: inherit;
        font-weight: inherit;
    }

    .content_header > p {
        margin: inherit;
        word-spacing: 7px;
        font-size: small;
    }

.header_image {
    width: 1349px;
    background: url(/Content/Images/Layer1.png) no-repeat;
    -ms-background-size: contain;
    background-size: contain;
    height: 284px;
    margin: 0 auto;
}
