.icon {
    margin-left: 20px;
    margin-top: 20px;
    width: 33px;
    height: 33px;
}

.icon_frame {
    height: 70.7px;
    width: 70.7px;
    border: 2px solid darkgray;
    -ms-border-radius: 50%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.small_icon {
    margin-left: 11px !important;
    margin-top: 9px !important;
    width: 28px;
    height: 28px;
}

.small_icon_frame {
    height: 49.1px;
    width: 49.1px;
    border: 2px solid darkgray;
    -ms-border-radius: 50%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.icon_large {
    height: 145.8px;
    width: 145.8px;
    border: 3px;
    border-color: darkgray;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.icon_heart {
    background: url(/Content/Images/heart.png) no-repeat;
    background-size: contain;
}

.icon_pen {
    background: url(/Content/Images/pen.png) no-repeat;
    background-size: contain;
}

.icon_flag {
    background: url(/Content/Images/flag.png) no-repeat;
    background-size: contain;
}

.icon_right {
    background: url(/Content/Images/to_right.png) no-repeat;
    background-size: contain;
    height: 27px;
    width: 27px;
    margin-left: 98px;
}

.icon_flight {
    background: url(/Content/Images/flight.png) no-repeat;
    background-size: contain;
}

.icon_micro {
    background: url(/Content/Images/micro.png) no-repeat;
    background-size: contain;
}

.icon_man {
    background: url(/Content/Images/Man.png) no-repeat;
    background-size: contain;
}

.icon_kid {
    background: url(/Content/Images/Layer2.png) no-repeat;
    background-size: contain;
}

.icon_god {
    background: url(/Content/Images/Layer4.png) no-repeat;
    background-size: contain;
}

.icon_birds {
    background: url(/Content/Images/Layer3.png) no-repeat;
    background-size: contain;
}

.icon_tree {
    background: url(/Content/Images/Layer5.png) no-repeat;
    background-size: contain;
}
