.input_form {
    text-align: center;
    margin: 0;
    height: 84px;
    background: rgb(57, 55, 59);
    padding-top: 47.9px;
    padding-bottom: 29.3px;
}

    .input_form h3 {
        text-align: center;
        margin: 0;
        padding-bottom: 22.1px;
        font-weight: 100;
        letter-spacing: 6.4px;
    }

    .input_form button {
        background: rgb(244, 244, 244);
        color: rgb(219, 89, 64);
        border: 2px;
        border-color: rgb(244, 244, 244);
        border-radius: 0px 6px 6px 0px;
        height: 33.6px;
        width: 82.9px;
        display: inline-block;
        cursor: pointer;
    }

        .input_form button:hover {
            background: rgb(121, 120, 128);
            background: rgba(244, 244, 244, 0.8);
        }

    .input_form .input_inner {
        color: rgb(244, 244, 244);
        background: rgb(219, 89, 64);
        width: 325.7px;
        height: 33.6px;
        border: 2px;
        border-color: rgb(219, 89, 64);
        border-radius: 6px 0px 0px 6px;
        padding-left: 15.7px;
        outline-color: rgb(195, 195, 195);
        outline-width: 8px;
    }
