nav {
    margin: 0;
    color: darkgray;
    color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
}

    nav > header {
        float: left;
    }

    nav > ul {
        margin-top: 16px;
        margin-bottom: 18px;
        padding-left: 0;
        float: right;
        word-spacing: 31px;
    }

        nav > ul > li {
            display: inline;
            font-size: x-small;
        }

    nav ul > li:hover {
        color: #ffffff;
    }

.nav_header {
    margin-top: 17px;
    margin-bottom: 17px;
    font-weight: normal;
}
