.short_info {
    text-align: center;
    padding-top: 41px;
    padding-bottom: 26px;
    margin-top: 0;
    clear: both;
    overflow: hidden;
}

    .short_info article {
        float: left;
        width: 211px;
        height: 233px;
        padding-right: 55px;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

        .short_info article:hover {
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
