.short_info {
    width: 1058px;
    text-align: center;
    padding-left: 291px;
    height: 233px;
    padding-top: 41px;
    padding-bottom: 26px;
    margin-top: 0;
}

    .short_info > article {
        float: left;
        width: 210.5px;
        height: 232.8px;
        padding-right: 55px;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

        .short_info > article:hover {
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }
